@import url('./colorModes.css'); /* should import before style anything */
/* for Tailwind init */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    color: var(--secondary);
}
*::selection {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: 600;
}

/* ============== Rest Main ============== */
:root {
    /* Paper Mode is default mode */
    --bg: #eeeeee; /* hidden */
    --main: #444444;
    --caret: #444444; /* less than main */
    --text: #b2b2b2; /* text color */
    --sub: #dddddd; /* sub alt color */
    --highlight: #444444; /* highlight color */
    --error: #cc241d;
    --error-extra: #9d0006;

    --hover-trans: 0.32s;
}

/* ------------- Constant ------------- */

.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.tit {
    font-size: 35px;
    font-weight: 500;
    color: var(--secondary);
    text-align: center;
}

.hide {
    display: none;
}

/* ------------- Changer Container ------------- */
.container.content {
    width: 100%;
    height: 100%;
}

.changerContainer {
    width: 100%;
    height: 100%;

    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
